.account {
    .container {
        width: 1170px;
        margin: 0 auto;
    
        @media screen and (max-width:$large) {
            width: 100%;
            padding: 0 15px;
        }
    }

    .meus-dados {
        width: 50%;
        float: left;

        @media screen and (min-width:$large) {
            padding-top: 35px;
        }

        @media screen and (max-width:$large) {
            width: 100%;
        }
        
        form {
            .col-xs-12 {
                @media screen and (max-width: $large) {
                    padding: 0;
                }
            }
            
            .title {
                font-size: 36px;
                margin-bottom: 20px;
                
                @media screen and (min-width: $large) {
                    padding-left: 15px;
                }

                @media screen and (max-width: $large) {
                    font-size: 26px;
                }
            }
            
            fieldset {
                width: 50%;
                float: left;
                border: none;
                margin: 0;

                @media screen and (max-width:$large) {
                    width: 100%;
                    padding: 0;
                }

                p {
                    input[type="text"],
                    input[type="email"] {
                        width: 100%;
                        height: 35px;
                        border-radius: 50px;
                        border: 1px solid #dcdcdc;
                        text-indent: 10px;
                    }
                }
            }

            input[type="submit"] {
                width: 100%;
                height: 35px;
                border-radius: 50px;
                background-color: #000;
                color: #fff;
                margin-top: 15px;
                padding: 0;
                display: block;
                text-transform: uppercase;
            }
        }
    }
}