.bread-crumb {
    padding: 0 20px;

    @media screen and (max-width:$large) {
        padding:15px 0 15px;
    }

    ul {
        display: flex;
        list-style: none;

        @media screen and (min-width:$large) {
            padding: 0;
        }

        li {
            font-weight: 300;
            text-transform: capitalize;
            font-size: 12px;

            strong {
                font-weight: 400;
            }

            &:after {
                content: '/';
                margin: 0 10px;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}