.departamento {
    @media screen and (min-width:$large) {
        .large--one-third {
            width: 25%;
        }
    
        .products .product-thumb a.grid__image {
            min-height: 320px;
        }

        .grid__image img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .grid--rev.collection {
        margin-top: 30px;

        @media screen and (max-width:$large) {
            margin-top: 0;
            padding: 0;
        }
    }

    .titulo-sessao {
        padding: 0 20px;
        font-weight: 400;
        font-size: 18px;

        @media screen and (max-width:$large) {
            padding: 0;
        }
    }

    .navigation-tabs {
        .menu-navegue,
        .search-single-navigator {
            display: none!important;

            h3 {
                width: 100%;
                margin-bottom: 40px;
                border-left: 3px solid #48433d;
                text-transform: uppercase;
                background: #eeeeee;
                font-size: 16px;
                line-height: normal;
                padding: 12px 15px;
            }
        }

        .search-multiple-navigator {
            h3,h4,.bt-refinar {
                display: none;
            }

            fieldset {
                padding: 0;
                border: none;
                margin-bottom: 30px;

                h5 {
                    width: 100%;
                    margin-bottom: 40px;
                    border-left: 3px solid #48433d;
                    text-transform: uppercase;
                    background: #eeeeee;
                    font-size: 16px;
                    line-height: normal;
                    padding: 12px 15px;

                    & + div {
                        width: auto;
                        display: inline-block;
                        padding-left: 20px;
                        
                        label {
                            width: 100%;
                            display: block;
                            margin-bottom: 15px;
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;

                            &:hover {
                                color: #d2b783;
    
                                input {
                                    input[type="checkbox"] {
                                        border: 1px solid #d2b783;
                                    }
                                }
                            }
                            
                            input[type="checkbox"] {
                                width: 22px;
                                height: 22px;
                                float: left;
                                margin-right: 10px;
                                transition: border 300ms;

                                &:checked {
                                    &:after {
                                        color:#d2b783;
                                    }
                                }
    
                                &:after {
                                    width: 22px;
                                    height: 22px;
                                    display: inline-block;
                                    border-radius: 3px;
                                    background-color: white;
                                    text-align: center;
                                    border: 1px solid #cdcdcd;
                                    color: #fff;
                                    transition: color 300ms;
                                    content: "\f00c";
                                    font-family: FontAwesome;
                                    font-style: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .banner-lateral {
        .box-banner {
            margin-bottom: 15px;
        }
    }

    .main {
        .searchResultsTime {
            display: none;
        }

        .compare,
        .filterBy {
            display: none;
        }

        .orderBy {
            width: 371px;
            position: relative;
            padding: 0;
            border: none;

            @media screen and (max-width:$large) {
                width: 100%;

                label {
                    display: none;
                }
            }

            &:before {
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #000;
                bottom: 0;
                height: 0;
                margin: auto;
                right: 13px;
                top: 0px;
                z-index: 1;
                pointer-events: none;
                position: absolute;
                content: '';
            }

            &:after {
                content: '';
                width: 40px;
                height: 40px;
                background: black;
                opacity: 0;
                display: block;
                position: absolute;
                right: 1px;
            }

            label {
                float:left;
                height:40px;
                line-height: 40px;
                padding-right:15px;
            }

            select {
                width: 280px;
                height: 40px;
                float:left;

                @media screen and (max-width:$large) {
                    width:100%;
                }
            }
        }

        .vitrine {
            margin-top: 20px;

            & + .searchResultsTime {
                & + .sub {
                    display: none;
                }
            }

            .pager {
                display: none;

                &.bottom {
                    clear: both;
                    padding-top: 30px;
                }

                ul.pages {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    list-style: none;

                    li {
                        &.first,
                        &.last {
                            display: none;
                        }

                        &.previous,
                        &.next {
                            padding: 10px 15px;
                            border: 1px solid #f3f3f3;
                        }

                        &.page-number {
                            padding: 10px 15px;
                            transition: all 0.4s ease-in-out;
                            border-top: 1px solid #f3f3f3;
                            border-bottom: 1px solid #f3f3f3;
                        }

                        &.pgCurrent {
                            color: #d2b783;
                        }
                    }
                }
            }

            .prateleira {
                margin-top: 0;

                ul {
                    padding: 0;
                    list-style: none;

                    li {
                        border: 1px solid #f3f3f3;
                        margin: -1px 0 0 -1px;

                        @media screen and (max-width:$large) {
                            width: 50%;
                        }
                    }
                }
            }

            .btn-load-more.confira-todos-produtos {
                clear: both;
                text-align: center;

                span {
                    width: 200px;
                    height: 50px;
                    line-height: 50px;
                    background: #84a2af;
                    display: inline-block;
                    text-transform: uppercase;
                    color: white;
                    margin-top: 30px;
                    cursor: pointer;
                }
            }
        }
    }

    .search-single-navigator { 
        h3 {
            width: 100%;
            margin-bottom: 40px;
            border-left: 3px solid #48433d;
            text-transform: uppercase;
            background: #eeeeee;
            font-size: 16px;
            line-height: normal;
            padding: 12px 15px;

            & + ul {
                list-style: none;
                
                li {
                    a {
                        width: 100%;
                        display: block;
                        margin-bottom: 15px;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
