.erros {
    .header-section {
        @media screen and (min-width:$large) {
            margin-bottom: 40px;
        }
    }

    &.n-encontrada {
        .text-n-encontrada {
            display: block!important;
        }
    }

    &.servidor {
        .text-servidor {
            display: block!important;
        }
    }

    &.ops {
        .text-ops {
            display: block!important;

            h1 + p {
                line-height: 42px;
            }
        }
    }

    main {
        font-family: 'Montserrat', sans-serif;

        h1 {
            font-size: 216px;
            font-weight: 300;
            font-style: italic;
            margin: 0;

            @media screen and (max-width:$large) {
                font-size: 120px;
            }

            & + p {
                margin-bottom: 60px;
                font-size: 40px;
                font-weight: 300;
                text-transform: uppercase;

                @media screen and (max-width:$large) {
                    font-size: 20px;
                    line-height: 26px!important;
                    padding: 0 15px;
                }
            }
        }

        
        .column-1 {
            width: 35%;
            float: left;
            margin-top: 7%;
            margin-left: 15%;
            text-align: center;

            @media screen and (max-width:$large) {
                width: 100%;
                margin: 0;
            }

            .text-n-encontrada,
            .text-servidor,
            .text-ops {
                display: none;
            }
        }

        .column-2 {
            width: 50%;
            float: left;
    
            @media screen and (max-width:$large) {
                width: 100%;
            }
        }
    
        .column-1 {
            .buttons {
                a {
                    width: 205px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 17px;
                    text-align: center;
                    display: inline-block;
                    text-transform: uppercase;

                    @media screen and (max-width:$large) {
                        width: 95%;
                        margin-right: 0;
                        margin: 0 auto 15px;
                        display: block;
                    }

                    &:first-child {
                        border: 2px solid #636363;

                        @media screen and (min-width:$large) {
                            margin-right: 40px;
                        }
                    }

                    &:last-child {
                        background-color: #636363;
                        color: #fff;
                    }
                }
            }
        }

        .column-2 {
            img {
                @media screen and (max-width:$large) {
                    width: 95%;
                    margin: 30px auto 0;
                }
            }
        }
    }
}