footer {
    display: block;
    float: left;
    width: 100%;
    margin-top: 50px;
    color: white;
    padding-top:35px;
    background-color: #84a2af;
    
    a {
        color: white;
    }

    ul {
        list-style: none;
        padding: 0;

        @media screen and (max-width:$large) {
            margin-bottom: 25px;
        }

        &.bandeiras {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 60px;
                height: 36px;
                border: 1px solid #dcdcdc;
                margin-right: 10px;
                background-color: #fff;
                box-shadow: 2px 2px 1px -1px #dcdcdc;
                padding: 5px;
                border-radius: 6px;


                @media screen and (max-width:$large) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .row-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        padding: 0 55px;

        @media screen and (max-width:$large) {
            flex-direction: column;
            padding: 0 15px;
            margin-bottom: 30px;
        }
        .ft-title {
            font-weight: 700;
            font-size: 14px;
        }

        ul {
            li {
                &:before {
                    content: '\00bb';
                    font-size: 14px;
                }
            }
        } 
    }

    .row-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 55px;

        @media screen and (max-width:$large) {
            flex-direction: column;
            padding: 0 15px;
        }

        @media screen and (max-width:$large) {
            .column-1 {
                order:2;
            }

            .column-2 {
                order:1;
            }
        }

        .column-3 {
            @media screen and (max-width:$large) {
                order:3;
            }

            ul {
                display: flex;

                li {
                    margin-right: 10px;

                    a {
                        height: 45px;
                        line-height: 45px;
                        display: flex;
                        align-items: center;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .row-3 {
        background-color: #e2e2e2;
        padding: 6px 55px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 9px;
        color: #000;

        @media screen and (max-width:$large) {
            flex-direction: column;
            text-align: center;
        }

        p {
            margin: 0;
        }
    }
}