header {
    padding-bottom: 20px;

    @media screen and (max-width:$medium) {
        padding-bottom: 5px;
        position: relative;
        z-index: 12;   
        background-color: white;
    }

    .row-1 {
        background: #84a2af;

        ul {
            display: flex;
            justify-content: flex-end;
            padding: 4px 0;
            list-style: none;
            text-transform: uppercase;
            font-size: 9px;

            @media screen and (max-width:$medium) {
                justify-content: center;
            }

            li {
                &:after {
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: white;
                    display: inline-block;
                    margin: 0 10px;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                a {
                    color: #fff;
                }
            }
        }
    }

    .wrapper {
        position: relative;
        z-index: 12;   
    
        .row-2 {
            display: flex;
            flex-direction: row;
    
            .column {
                width: 33.3%;
    
                &.column-1 {
                    @media screen and (max-width:$medium) {
                        display: none;
                    }

                    .busca {
                        padding: 0;
                        border: none;
    
                        legend,
                        label,
                        select {
                            display: none;
                        }
    
                        .fulltext-search-box {
                            padding: 0;
                            border: none;
                            width: 66%;
                            border-bottom: 1px solid black;
                            height: 50px;
                            outline: none;
                        }
    
                        .btn-buscar {
                            background-image: url(/arquivos/ico-buscar.png);
                            background-color: transparent;
                            border: none;
                            font-size: 0;
                            width: 50px;
                            height: 40px;
                            padding: 0;
                            background-repeat: no-repeat;
                            background-size: 50%;
                            background-position: right;
                            margin-left: -50px;
                        }
                    }
                }

                &.column-2 {
                    text-align: center;

                    @media screen and (max-width:$medium) {
                        width: 75%;
                        text-align: left;

                        svg {
                            width: 105px!important;
                            height: 40px!important;
                            padding-top: 20px;
                        }
                    }
                }

                &.column-3 {
                    @media screen and (max-width:$medium) {
                        width: 25%;
                        line-height: 55px;
                    }

                    #cart {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-size: 17px;
                        float: right;
                        padding-top: 15px;

                        @media screen and (max-width:$medium) {
                            padding-top: 0;
                            float: left;
                        }

                        svg {
                            width: 30px;
                            height: 30px;;
                            margin-right: 5px;

                            @media screen and (max-width:$medium) {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }
    
        .row-3 {
            @media screen and (max-width:$medium) {
                display: none;
                position: absolute;
                left: 0;
                background-color: white;
                width: 100%;
                z-index: 99;
            }

            & > ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;
                padding: 0;

                @media screen and (min-width:$medium) {
                    max-width: 90%;
                    margin: 0 auto;
                }

                @media screen and (max-width: $medium){
                    flex-direction: column;
                }
    
                li {
                    @media screen and (max-width:$medium) {
                        border-bottom: 1px solid #dcdcdc;
                        text-indent: 15px;

                        &:last-child {
                            border-bottom: 0;
                        }
                    }

                    @media screen and (min-width:$medium) {
                        &:hover {
                            & > div {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
    
                    span {
                        @media screen and (max-width:$medium) {
                            display: block;
                            padding: 5px 0;
                            margin: 5px 0;
                        }

                        a {
                            font-weight: 300;
                            font-size: 14px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }
                    }
        
                    & > div {
                        display: none;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        padding: 15px;
                        background-color: white;
                        z-index: 1;
                        
                        @media screen and (min-width:$medium) {
                            display: flex;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 300ms;
                        }

                        @media screen and (max-width:$medium) {
                            position: static;
                            padding: 0;
                        }

                        &:hover {
                            opacity: 1;
                            visibility: visible;
                        }
                        
                        .list {
                            display: flex;
                            width: 65%;

                            @media screen and (max-width:$medium){
                                width: 100%;
                                max-height: 281px;
                                overflow: scroll;
                                flex-direction: column;
                                background-color: #f4f4f4; 
                            }

                            @media screen and (max-width:$small) {
                                max-height: 158px;
                            }

                            ul {
                                flex-direction: column;
                                
                                @media screen and (min-width:$medium){
                                    margin-right: 70px;
                                    justify-content: initial;
                                }

                                li {
                                    @media screen and (min-width:$medium){
                                        margin-bottom: 10px;
                                    }

                                    @media screen and (max-width:$medium) {
                                        margin: 5px 0;
                                        padding: 5px 0;
                                    }
                                }
                            }
                        }

                        .image {
                            width: 35%;

                            @media screen and (max-width:$medium) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .row-4 {
            display: none;
            
            @media screen and (max-width:$medium) {
                display: block;
                margin-bottom: 10px;
            }

            .busca {    
                padding: 0;
                border: none;

                legend,
                label,
                select  {
                    display: none;
                }

                .fulltext-search-box {
                    width: 100%;
                    height: 30px;
                    padding: 0;
                    border: none;
                    border-bottom: 1px solid #000;
                    outline: 0;
                }

                .btn-buscar {    
                    background-image: url(/arquivos/ico-buscar.png);
                    background-color: transparent;
                    border: none;
                    font-size: 0;
                    width: 50px;
                    height: 40px;
                    padding: 0;
                    background-repeat: no-repeat;
                    background-size: 40%;
                    background-position: right;
                    float: right;
                    margin-top: -40px;
                    z-index: 1;
                    position: relative;
                }
            }
        }
    }
}