.newhome,
.home {
    .header-section + .slider,
    .section-1,
    .best-section-row,
    .section-3,
    .section-4,
    .section-5,
    .section-6 {
        margin-bottom: 40px;
    }

    .grid-uniform.newsletter {
        @media screen and (min-width:$large){
            margin-bottom: 40px;
        }
    }

    .section-5,
    .section-1 {
        @media screen and (min-width:$large) {
            ul {
                li {
                    width: 93%;
                    margin: 0 16px;
                    overflow: hidden;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .mailchimp {
        #newsletterClientName,
        h3 {
            display: none;
        }

        fieldset {
            padding:0; 
            border: none;

            &.success {
                color: #fff;
                
                label {
                    font-size: 16px;
                }
            }

            p {
                display: none;
            }

            #newsletterClientEmail {
                width: 65%;
                margin-right: 5%;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding: 0;
                display: inline-block;
                height: 52px;
                text-indent: 25px;

                @media screen and (max-width:$large) {
                    width:100%;
                    margin-bottom: 15px;
                }
            }

            #newsletterButtonOK {
                background: #292522;
                color: #fff;
                cursor: pointer;
                width: 30%;
                text-transform: uppercase;
                font-size: 14px;
                padding: 0;
                height: 54px;
                font-size: 21px;
                letter-spacing: 3px;
                font-weight: 300;
                position: relative;
                bottom: -1px;
                box-shadow: 0px 0px 0px 3px black;
                border: 2px solid white;

                @media screen and (max-width:$large) {
                    float: none;
                    width: 75%;
                    margin: 0 auto;
                }
            }
        }
    }



    .two-banners,
    .three-banners {
        padding-top: 20px;

        @media screen and (max-width:$medium) {
            padding-top: 10px;
        }

        ul {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:$medium) {
                flex-direction: column;
            }

            li {
                @media screen and (max-width:$medium) {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .two-banners {
        li {
            &:first-child {
                @media screen and (min-width:$medium) {
                    padding-right: 10px;
                }
            }

            &:last-child {
                @media screen and (min-width:$medium) {
                    padding-left: 10px;
                }
            }
        }
    }

    .three-banners {
        li {
            width: 32%;
            position: relative;

            @media screen and (max-width:$medium) {
                width: 100%;
            }

            &.custom {
                position: relative;

                .box {
                    position: absolute;
                    top: 0;
                    padding: 25px;
                    background-color: #6464649e;
                    width: 100%;
                    height: 100%;
                    color: white;
                    
                    
                    h2 {
                        font-size: 42px;
                        text-transform: uppercase;
                        font-weight: 300;
                        color: white;
                        letter-spacing: 2px;
                        margin-bottom: 30px;

                        @media screen and (max-width:$medium) {
                            font-size: 27px;
                            line-height: 27px;
                        }
                    }

                    .tag {
                        background: black;
                        max-width: 280px;
                        padding: 20px;
                        font-size: 32px;
                        color: white;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 33px;

                        @media screen and (max-width:$medium) {
                            font-size: 24px;
                            line-height: 24px;
                        }
    
                        span {
                            display: block;
                            color: #d2b783;
                        }
                    }

                    .description {
                        margin: 30px 0;
                    }

                    button {
                        background: black;
                        text-transform: uppercase;
                        color: white;
                        width: 150px;
                        height: 50px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}