.institucional {
    .titulo-sessao {
        padding: 0 20px;
        font-weight: 400;
        font-size: 18px;

        @media screen and (max-width:$large) {
            padding: 0 15px;
        }
    }

    .content-inst {
        width:1170px;
        margin: 50px auto 0;
        padding: 0 55px;
        

        @media screen and (max-width:$large) {
            width: 100%;
            padding: 0 15px;
        }

        .content-contact,
        .content-text {
            width: 50%;
            float: left;

            @media screen and (max-width:$large) {
                width: 100%;
            }
        }
    }

    .content-inst .box-contato {
        width: 400px;
        margin: 0 auto;
        background: #f8f8f8;
        padding: 20px 30px;
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        border: 1px solid #e1e1e1;

        .msg_sucesso p {
            line-height: 18px;
            font-weight: 400;
            font-size: 17px;
            margin-bottom: 25px;
        }
      }
      @media screen and (max-width: 769px) {
        .content-inst .box-contato {
          box-shadow: none;
          margin-top: 30px;
          width: 100%;
          padding: 15px;
        }
      }
      .content-inst .box-contato .box-titulo-contato h3 {
        font-weight: bold;
        color: #757575;
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 35px;
        margin-bottom: 30px;
      }
      .content-inst .box-contato .box-titulo-contato::before {
        content: '';
        display: block;
        width: 25px;
        height: 17px;
        background: url(../arquivos/envelope.png);
        position: absolute;
      }
      .content-inst .box-contato .formulario-contato-institucional .inputs span {
        display: block;
        width: 100%;
        font-size: 14px;
        padding-left: 5px;
      }
      .content-inst .box-contato .formulario-contato-institucional .inputs input, .content-inst .box-contato .formulario-contato-institucional .inputs textarea {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        outline: 0px;
        margin-bottom: 10px;
        border: 2px solid #f3f3f3;
        border-bottom-color: #dedede;
        font-size: 14px;
      }
      .content-inst .box-contato .formulario-contato-institucional .inputs input::-webkit-input-placeholder, .content-inst .box-contato .formulario-contato-institucional .inputs textarea::-webkit-input-placeholder {
        color: #b0b0b0;
        font-size: 14px;
      }
      .content-inst .box-contato .formulario-contato-institucional .inputs input:-moz-placeholder, .content-inst .box-contato .formulario-contato-institucional .inputs textarea:-moz-placeholder {
        color: #b0b0b0;
        font-size: 14px;
      }
      .content-inst .box-contato .formulario-contato-institucional .inputs textarea {
        height: 100px;
      }
      .content-inst .box-contato .formulario-contato-institucional .inputs .select-assunto {
        width: 100%;
        height: 40px;
        border-bottom-color: #dedede;
        border: 2px solid #f3f3f3;
        outline: 0px;
        font-size: 14px;
        color: #b0b0b0;
        cursor: pointer;
        padding-left: 5px;
        background: white;
        -webkit-appearance: menulist-button;
      }
      .content-inst .box-contato .formulario-contato-institucional .inputs .select-assunto option {
        color: #b0b0b0;
        cursor: pointer;
        outline: 0;
      }
      .content-inst .box-contato .formulario-contato-institucional .btn-enviar {
        width: 115px;
        height: 40px;
        line-height: 20px;
        background-color: #252525;
        color: #fff;
        text-transform: uppercase;
        border: none;
        font-size: 20px;
        cursor: pointer;
        float: right;
        margin-bottom: 40px;
        padding: 0;
      }
      @media screen and (max-width: 769px) {
        .content-inst .box-contato .formulario-contato-institucional .btn-enviar {
          float: none;
          width: 100%;
          margin-top: 20px;
        }
      }
      .content-inst .box-contato .telefones-contato {
        clear: both;
        color: #000;
        font-size: 14px;

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 25px;
        }
      }
      .content-inst .box-contato .horario-atendimento {
        color: #6a6a6a;
        font-size: 14px;
        line-height: 1;
      }
}