.prateleira {
    margin-top: 70px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 32px;
    }

    li {
        width: calc(100% / 4);
        @media screen and (min-width:$medium) {
            margin-bottom: 40px;
        }

        @media screen and (max-width:$medium) {
            width: calc(100% / 2);
        }

        &:hover {
            .flag.sale {
                background-color: #ff4646;
                color: #fff;
            }
        }
    }
}

.flag.sale {
    float: left;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    border: 1px dashed #ff4646;
    margin: 20px 20px 0;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    color: #ff4646;
    font-size: 14px;
    font-weight: 400;
    transition: all .4s ease-in-out;
    cursor: pointer;

    @media screen and (max-width:$large) {
        width: 35px;
        height: 35px;
        font-size: 10px;
        margin: 10px;
        line-height: 35px;
    }
}