.produto {
    .titulo-sessao {
        padding: 0 20px;
        font-weight: 400;
        font-size: 18px;

        @media screen and (max-width:$large) {
            padding: 0;
        }
    }

    .content-produto {
        display: flex; 
        flex-direction: row;

        @media screen and (max-width:$medium) {
            flex-direction: column;
        }

        .box-1,
        .box-2 {
            width: 50%;

            @media screen and (max-width:$medium) {
                width: 100%;
            }
        }
    }

    .product-detail-section {
        .productName {
            font-weight: bold;
            color: #333333;
            font-size: 20px;
            text-transform: uppercase;
            width: 100%;
        }

        .plugin-preco {
            .valor-por {
                font-size: 0;

                .skuBestPrice {
                    font-size: 24px;
                    font-style: normal;
                    margin-right: 7px;
                    margin-bottom: 18px;
                    color: $colorLinkHover;
                }
            }

            .economia-de,
            .valor-dividido,
            .valor-de,
            .preco-a-vista.price-cash {
                display: none!important;
            }
        }
    }

    #show {
        #include {
            #image {
                position: relative;
                overflow: hidden;
                border-bottom: 1px solid #f4f4f4;
                
                @media screen and (min-width:$large) {
                    &:hover {
                        #image-main {
                            opacity: 0!important;
                        }
                    }

                }
                
                #image-main {
                    width: 100%;
                }

                .zoomWindow {
                    left: 0!important;
                    
                    .zoomWrapper {
                        width: 585px!important;
                        height: 585px;

                        .zoomWrapperImage {
                            img {
                                max-width: initial;
                                width: 1290px;
                                height: 1290px;
                            }
                        }
                    }
                }

                .zoomPreload {
                    top: 0!important;
                    left: 0!important;
                    opacity: .8;
                    transition: all 1s;
                    background-color: #fff;
                    background-image: url(/arquivos/ajax-loader.gif);
                    background-repeat: no-repeat;
                    background-position: center center;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .thumbs {
        list-style: none;
        display: flex;

        li {
            width: 80px;
            height: 80px;

            img {
            width: 100%;
            height: 100%;
            }
        }
        }
    }

    .ajax-success-modal {
        &.modal {
            .thumbs {
                display: none!important;
            }

            #image {
                img {
                    width:110px!important;
                }
            }
        }
    }

    .prateleira {
        margin-top: 0;

        h2 {
            display: none;
        }
         
        li {
            width:100%;
        }
    }
}