/*============================================================================
  Shopify Timber v2.1.0
  Copyright 2015 Shopify Inc.
  Author Carson Shold @cshold
  Built with Sass - http://sass-lang.com/

  Some things to know about this file:
    - Sass is compiled on Shopify's server so you don't need to convert it to CSS yourself
    - The output CSS is compressed and comments are removed
    - You cannot use @imports in this file
        * Use grunt or gulp tasks to enable @imports - https://github.com/Shopify/shopify-css-import
    - Helpers variables, mixins, and starter classes are provided. Change as needed.
    - The file is prepped with a CSS reset
    - The font icons are prepared using https://icomoon.io/app
==============================================================================*/

/*============================================================================
  Table of Contents

  #Breakpoint and Grid Variables
  #General Variables
  #Sass Mixins
  #Normalize
  #Grid Setup
  #Basic Styles
  #Helper Classes
  #Typography
  #Rich Text Editor
  #Links and Buttons
  #Lists
  #Tables
  #OOCSS Media Object
  #Images and Iframes
  #Forms
  #Icons
  #Pagination
  #Site Header
  #Site Nav and Dropdowns
  #Mobile Nav
  #Drawers
  #Site Footer
  #Product and Collection Grids
  #Collection Filters
  #Breadcrumbs
  #Product Page
  #Notes and Form Feedback
  #Cart Page
  #Ajax Cart Styles
==============================================================================*/

/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$small: 360px;
$medium: 767px;
$large: 768px;
$semilarge: 967px;
$postlarge:1175px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;
$presemilarge: $semilarge - $viewportIncrement;
$prepostlarge: $postlarge - $viewportIncrement;



/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  
  'large' '(min-width: #{$large})',
 'semilarge' '(min-width: #{$semilarge})',
  'postlarge' '(min-width: #{$postlarge})'
  
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large',  'postlarge');
$breakpoint-has-push:  ('medium', 'medium-down', 'large',  'postlarge');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large',  'postlarge');


/*============================================================================
  #General Variables
==============================================================================*/

// Timber Colors
$colorPrimary: #3e3a38;
$colorOther: #fff;

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: darken($colorBtnPrimary, 10%);
$colorBtnPrimaryActive: darken($colorBtnPrimaryHover, 10%);
$colorBtnPrimaryText: #fff;

// Text link colors
$colorLink: #292522;
$colorLinkHover: #84a2af;
$topBarColor: #fff;
$topBarHoverColor:#84a2af;

// Text colors

// Backgrounds
$colorBody: #fff;

// Border colors
$colorBorder: #f3f3f3;

// Nav and dropdown link background
$colorNav: #fff;
$colorNavText: #292522;

// Site Footer
$colorFooterBg:#fff;
$colorFooterText: black;

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;


// Sizing variables
$siteWidth: 100%;
$gutter: 30px;
$gridGutter: 30px; // can be a %, but nested grids will have smaller margins because of it
$radius: 3px;



/*================ Typography ================*/

$headerFontWeight: 700;

$bodyFontStack: Raleway,sans-serif;


$baseFontSize: 13px; // Henseforth known as 1em

@font-face {
  font-family: 'icons';
  src: url('{{ "icons.eot" | asset_url }}');
  src: url('{{ "icons.eot" | asset_url }}#iefix') format("embedded-opentype"),
       url('{{ "icons.woff" | asset_url }}') format("woff"),
       url('{{ "icons.ttf" | asset_url }}') format("truetype"),
       url('{{ "icons.svg" | asset_url }}#timber-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}
$socialIconFontStack: 'icons';