.sprite-a13 {
	position: relative;
	min-width: 400px;
	min-height: 90px;
}
.sprite-a13:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3677px -898px;
  width: 400px;
  height: 90px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-abt_custom_icon_1 {
	position: relative;
	min-width: 64px;
	min-height: 64px;
}
.sprite-abt_custom_icon_1:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3977px -1180px;
  width: 64px;
  height: 64px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-abt_custom_icon_2 {
	position: relative;
	min-width: 64px;
	min-height: 64px;
}
.sprite-abt_custom_icon_2:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4077px -898px;
  width: 64px;
  height: 64px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-abt_custom_icon_3 {
	position: relative;
	min-width: 64px;
	min-height: 64px;
}
.sprite-abt_custom_icon_3:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4105px -1180px;
  width: 64px;
  height: 64px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-abt_custom_icon_4 {
	position: relative;
	min-width: 64px;
	min-height: 64px;
}
.sprite-abt_custom_icon_4:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4041px -1180px;
  width: 64px;
  height: 64px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-abt_welcome_icon_1 {
	position: relative;
	min-width: 1000px;
	min-height: 600px;
}
.sprite-abt_welcome_icon_1:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -1000px -1590px;
  width: 1000px;
  height: 600px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-abt_welcome_icon_2 {
	position: relative;
	min-width: 1000px;
	min-height: 600px;
}
.sprite-abt_welcome_icon_2:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -800px -840px;
  width: 1000px;
  height: 600px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-abt_welcome_icon_3 {
	position: relative;
	min-width: 1000px;
	min-height: 600px;
}
.sprite-abt_welcome_icon_3:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -1800px -840px;
  width: 1000px;
  height: 600px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ambiente {
	position: relative;
	min-width: 143px;
	min-height: 51px;
}
.sprite-ambiente:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4017px -1058px;
  width: 143px;
  height: 51px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-antiquewhite {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-antiquewhite:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3821px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-aud {
	position: relative;
	min-width: 22px;
	min-height: 15px;
}
.sprite-aud:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3969px -1136px;
  width: 22px;
  height: 15px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-beds_collections_bg_image {
	position: relative;
	min-width: 530px;
	min-height: 680px;
}
.sprite-beds_collections_bg_image:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3147px -500px;
  width: 530px;
  height: 680px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-beds_collections_bgimage {
	position: relative;
	min-width: 800px;
	min-height: 750px;
}
.sprite-beds_collections_bgimage:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -840px;
  width: 800px;
  height: 750px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-best_seller_image {
	position: relative;
	min-width: 800px;
	min-height: 680px;
}
.sprite-best_seller_image:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -1600px -2190px;
  width: 800px;
  height: 680px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-black {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-black:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4143px -500px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-blue {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-blue:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4143px -524px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-brandx2 {
	position: relative;
	min-width: 14px;
	min-height: 14px;
}
.sprite-brandx2:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4077px -1153px;
  width: 14px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-breadcrumb {
	position: relative;
	min-width: 1920px;
	min-height: 175px;
}
.sprite-breadcrumb:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -1227px -520px;
  width: 1920px;
  height: 175px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-brown {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-brown:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4097px -1111px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-cad {
	position: relative;
	min-width: 22px;
	min-height: 15px;
}
.sprite-cad:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3947px -1136px;
  width: 22px;
  height: 15px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-coffee {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-coffee:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3869px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-collection-image {
	position: relative;
	min-width: 457px;
	min-height: 740px;
}
.sprite-collection-image:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3147px -1180px;
  width: 457px;
  height: 740px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-cyan {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-cyan:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3989px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-envelope {
	position: relative;
	min-width: 25px;
	min-height: 17px;
}
.sprite-envelope:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4143px -572px;
  width: 25px;
  height: 17px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-eur {
	position: relative;
	min-width: 22px;
	min-height: 15px;
}
.sprite-eur:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4148px -1038px;
  width: 22px;
  height: 15px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-fancybox {
	position: relative;
	min-width: 44px;
	min-height: 152px;
}
.sprite-fancybox:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4050px -593px;
  width: 44px;
  height: 152px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-gbp {
	position: relative;
	min-width: 22px;
	min-height: 15px;
}
.sprite-gbp:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4126px -1038px;
  width: 22px;
  height: 15px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-gold {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-gold:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4025px -1111px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-grabbing {
	position: relative;
	min-width: 16px;
	min-height: 16px;
}
.sprite-grabbing:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4061px -1153px;
  width: 16px;
  height: 16px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-gray {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-gray:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4145px -1111px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-green {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-green:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3797px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-grid_list_img {
	position: relative;
	min-width: 93px;
	min-height: 93px;
}
.sprite-grid_list_img:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4050px -500px;
  width: 93px;
  height: 93px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-hover-Close {
	position: relative;
	min-width: 30px;
	min-height: 30px;
}
.sprite-hover-Close:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4141px -898px;
  width: 30px;
  height: 30px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-buscar {
	position: relative;
	min-width: 43px;
	min-height: 43px;
}
.sprite-ico-buscar:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4126px -745px;
  width: 43px;
  height: 43px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-icon-cc-amex {
	position: relative;
	min-width: 39px;
	min-height: 25px;
}
.sprite-icon-cc-amex:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4126px -864px;
  width: 39px;
  height: 25px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-icon-cc-bitcoin {
	position: relative;
	min-width: 39px;
	min-height: 25px;
}
.sprite-icon-cc-bitcoin:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4126px -1013px;
  width: 39px;
  height: 25px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-icon-cc-discover {
	position: relative;
	min-width: 39px;
	min-height: 25px;
}
.sprite-icon-cc-discover:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4126px -988px;
  width: 39px;
  height: 25px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-icon-cc-google {
	position: relative;
	min-width: 39px;
	min-height: 25px;
}
.sprite-icon-cc-google:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3986px -1111px;
  width: 39px;
  height: 25px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-icon-cc-mastercard {
	position: relative;
	min-width: 39px;
	min-height: 25px;
}
.sprite-icon-cc-mastercard:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4131px -962px;
  width: 39px;
  height: 25px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-icon-cc-paypal {
	position: relative;
	min-width: 40px;
	min-height: 25px;
}
.sprite-icon-cc-paypal:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4126px -788px;
  width: 40px;
  height: 25px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-icon-cc-visa {
	position: relative;
	min-width: 39px;
	min-height: 25px;
}
.sprite-icon-cc-visa:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3947px -1111px;
  width: 39px;
  height: 25px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-indigo {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-indigo:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4121px -1111px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-khaki {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-khaki:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4037px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-lightkhaki {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-lightkhaki:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3677px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-lightyellow {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-lightyellow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3725px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-logo {
	position: relative;
	min-width: 340px;
	min-height: 53px;
}
.sprite-logo:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3677px -1058px;
  width: 340px;
  height: 53px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-logo@2x {
	position: relative;
	min-width: 680px;
	min-height: 106px;
}
.sprite-logo@2x:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3147px -2545px;
  width: 680px;
  height: 106px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-middle-image-banner {
	position: relative;
	min-width: 1920px;
	min-height: 520px;
}
.sprite-middle-image-banner:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -1227px 0px;
  width: 1920px;
  height: 520px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-middle-image-left {
	position: relative;
	min-width: 1000px;
	min-height: 600px;
}
.sprite-middle-image-left:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -1590px;
  width: 1000px;
  height: 600px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-middle-image-right {
	position: relative;
	min-width: 1000px;
	min-height: 600px;
}
.sprite-middle-image-right:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -2000px -1590px;
  width: 1000px;
  height: 600px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-new-logo {
	position: relative;
	min-width: 270px;
	min-height: 42px;
}
.sprite-new-logo:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3677px -1111px;
  width: 270px;
  height: 42px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-new-pattern {
	position: relative;
	min-width: 1227px;
	min-height: 840px;
}
.sprite-new-pattern:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px 0px;
  width: 1227px;
  height: 840px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-newpattern1 {
	position: relative;
	min-width: 1024px;
	min-height: 500px;
}
.sprite-newpattern1:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3147px 0px;
  width: 1024px;
  height: 500px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-newpattern2 {
	position: relative;
	min-width: 984px;
	min-height: 280px;
}
.sprite-newpattern2:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3147px -1920px;
  width: 984px;
  height: 280px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-newsletter-bg-image {
	position: relative;
	min-width: 373px;
	min-height: 398px;
}
.sprite-newsletter-bg-image:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3677px -500px;
  width: 373px;
  height: 398px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-olive {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-olive:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4049px -1111px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-orange {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-orange:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4073px -1111px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-pagination-left-arrow {
	position: relative;
	min-width: 51px;
	min-height: 50px;
}
.sprite-pagination-left-arrow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4041px -1244px;
  width: 51px;
  height: 50px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-pagination-right-arrow {
	position: relative;
	min-width: 49px;
	min-height: 50px;
}
.sprite-pagination-right-arrow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4092px -1244px;
  width: 49px;
  height: 50px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-pattern {
	position: relative;
	min-width: 345px;
	min-height: 345px;
}
.sprite-pattern:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3147px -2200px;
  width: 345px;
  height: 345px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-patternn {
	position: relative;
	min-width: 345px;
	min-height: 345px;
}
.sprite-patternn:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3492px -2200px;
  width: 345px;
  height: 345px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-pink {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-pink:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3701px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-popup_newsletter {
	position: relative;
	min-width: 373px;
	min-height: 398px;
}
.sprite-popup_newsletter:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3604px -1180px;
  width: 373px;
  height: 398px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-purple {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-purple:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3749px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-red {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-red:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3773px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-related_collection_image {
	position: relative;
	min-width: 800px;
	min-height: 680px;
}
.sprite-related_collection_image:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -800px -2190px;
  width: 800px;
  height: 680px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-retina_logo {
	position: relative;
	min-width: 449px;
	min-height: 70px;
}
.sprite-retina_logo:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3677px -988px;
  width: 449px;
  height: 70px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-sandal {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-sandal:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3845px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-select-arrow1 {
	position: relative;
	min-width: 41px;
	min-height: 43px;
}
.sprite-select-arrow1:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4126px -821px;
  width: 41px;
  height: 43px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-selection-box {
	position: relative;
	min-width: 9px;
	min-height: 14px;
}
.sprite-selection-box:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4160px -1058px;
  width: 9px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-silver {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-silver:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3917px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-skyblue {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-skyblue:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3941px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-soldout {
	position: relative;
	min-width: 64px;
	min-height: 50px;
}
.sprite-soldout:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3977px -1244px;
  width: 64px;
  height: 50px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-storage_bg_image {
	position: relative;
	min-width: 800px;
	min-height: 750px;
}
.sprite-storage_bg_image:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -2190px;
  width: 800px;
  height: 750px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-teal {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-teal:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4013px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-terrasus {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-terrasus:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3893px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-testimonial_1_img {
	position: relative;
	min-width: 76px;
	min-height: 76px;
}
.sprite-testimonial_1_img:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4050px -745px;
  width: 76px;
  height: 76px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-testimonial_2_img {
	position: relative;
	min-width: 76px;
	min-height: 76px;
}
.sprite-testimonial_2_img:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4094px -669px;
  width: 76px;
  height: 76px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-testimonial_3_img {
	position: relative;
	min-width: 76px;
	min-height: 76px;
}
.sprite-testimonial_3_img:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4094px -593px;
  width: 76px;
  height: 76px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-testimonial_4_img {
	position: relative;
	min-width: 76px;
	min-height: 76px;
}
.sprite-testimonial_4_img:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4050px -821px;
  width: 76px;
  height: 76px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-thumb-arrow-car {
	position: relative;
	min-width: 54px;
	min-height: 26px;
}
.sprite-thumb-arrow-car:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4077px -962px;
  width: 54px;
  height: 26px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-usd {
	position: relative;
	min-width: 20px;
	min-height: 13px;
}
.sprite-usd:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3991px -1136px;
  width: 20px;
  height: 13px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-wheat {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-wheat:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4143px -548px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-white {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-white:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -3965px -1153px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-yellow {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-yellow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -4141px -928px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
